.GameScreen {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  .sidebar {
    display: flex;
    flex-flow: column;
    text-align: center;
    gap: 16px;

    margin-left: 40px;
    color: var(--text-color);
    width: 200px;

    .button {
      padding: 8px 12px;
      font-size: 16px;
    }
  }
}
